
/*BASIC CSS RESETS*/

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
    box-sizing: border-box;
}



/*COLORS*/

.header-container {
    background-color: #000;
    color: #fff;
}



/*FONTS*/

.header-container {
    font-family: sans-serif;
}

h1 {
    font-size: 6.4rem;
}



/*LAYOUT*/

.header-container {
    height: 25rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



