
/*BASIC CSS RESETS*/

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
    box-sizing: border-box;
}



/*LAYOUT*/

.header-container {
    height: 25rem;
    width: 100%;
}



/*COLORS*/

.header-container {
    background-color: #000;
    color: #fff;
}

